@model CarouselProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:blue; background-color:lightcyan; border-radius:10px; margin:10px">
    <h1 class="display-4" style="margin:5px">Hello and Welcome.</h1>
    <h1 class="display-6" style="margin-bottom:5px">This is my Social Site, where you can upload your post to the stream below.</h1>
</div>

@{
    if (Model != null && Model.Carousels != null && Model.Carousels.Count > 0)
    {
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                @for (int i = 0; i < Model.Carousels.Count; ++i)
                {
                    //string active = String.Empty;
                    ViewBag.Active = String.Empty;
                    if (i == 0)
                    {
                        ViewBag.Active = "active";
                    }

                    <div class="carousel-item @ViewBag.Active">
                        <img src="@Model.Carousels[i].ImageSrc" class="d-block w-100" alt="@Model.Carousels[i].ImageAlt">
                    </div>
                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
}

<div class="text-center" style="color:blue; background-color:lightcyan; border-radius:10px; margin:10px">
    <h1 class="display-4">The Stream:</h1>
</div>



@{
    if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {

        <section class="py-5">
            <div>
                <div>

                    @for (int i = 0; i < Model.Products.Count; ++i)
                    {
                        <div class="col mb-5" style="height:600px; width:450px; display:block; margin-left:auto; margin-right:auto">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" style="height:400px; width:400px; display:block; margin-left:auto; margin-right:auto; margin-top:30px" src="@Model.Products[i].ImageSrc" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        
                                        <h5 class="fw-bolder">@Model.Products[i].Name</h5>
                                        
                                        <!-- Product price-->
                                        @Model.Products[i].Description
                                        
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" style="color:darkred; background-color:antiquewhite" onclick="Buy(@Model.Products[i].Id,'@Url.Action(nameof(CustomerOrderCartController.AddOrderItemsToSession), nameof(CustomerOrderCartController).Replace(nameof(Controller), String.Empty), new { Area = nameof(UTB.Eshop.Web.Areas.Customer) })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')">Like <img src="~/img/src/heart.png" style="height: 15px; width: 15px"/></a>
                                        <a class="btn btn-outline-dark mt-auto" style="color:green; background-color:antiquewhite">Repost <img src="~/img/src/arrow.png" style="height: 15; width: 15px" /></a>
                                        <a class="btn btn-outline-dark mt-auto" style="color:deeppink; background-color:antiquewhite">Comment <img src="~/img/src/bubble.png" style="height: 15px; width: 15px" /></a>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <p>Rating: </p>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>

    }
}

@section Styles
{
    <link rel="stylesheet" href="~/css/shop_home.css" asp-append-version="true" />
}

@section Scripts
{
    <environment include="Development">
        <script src="~/js/product.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/product.min.js"></script>
    </environment>
}
